<div ng-cloak id="cards-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="cards" class='hand'>

    <span ng-show="winnerPicked()"></span>

    <div ng-style="{'cursor':'pointer'}" class="col20" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
    ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
      <div class="cfh-card valign-wrapper p-5">
        <span ng-bind-html-unsafe="card.text"></span>
        <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
        <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
      </div>
    </div>

    <span ng-repeat="answer in game.table">
        <div class="cfh-card valign-wrapper col20 p-5" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}"
        style="background-color:{{winningColor($parent.$index)}}">
            <span ng-bind-html-unsafe="card.text"></span>
            <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
    </span>
    <div class="clear"></div>
  </div>
</div>

<div class="waiting" ng-show="game.state === 'awaiting players'">
  <img src="img/p-cards.png" alt="" />
  <p>Cards will appear here when game starts</p>
</div>

<div id="game-end-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'" class="center">
  <div id="inner-info-exit">
    <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
      <h2>What would you like to do now?</h2>
      <p>You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.</p>
    </div>
    <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
      <h2>What would you like to do now?</h2>
      Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
    </div>
    <div id='inner-text-container' style="margin-bottom: 20px;">
      <a href='/#!/app'>
      <span class="btn"  ng-click="game.joinGame('joinNewGame')">
        Join a New Game
      </span></a>
      <a href='/'>
        <span class="btn" id="exit-match">
        Return to Lobby
        </span>
      </a>
    </div>
  </div>

  <div id="charity-widget-container" class="center" style="text-align: center !important">
      <!-- This is real -->
      <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
      <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
      <!-- This is for testing -->
      <!-- <a href="http://www.crowdrise.com" id="crowdriseStaticLink-project-36715" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a> -->
      <!-- <script type="text/javascript" src="https://apisandbox.crowdrise.com/widgets/donate/project/36715/?callback=userDonationCb"></script> -->
  </div>
</div>
<div id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'" class="center">
  <div id="czar-blank-inner" style="margin-bottom: 20px;">
    <h5 class="btn btn-new">You are the Card Czar!</h5>
    <h6 class="font-18">Players are choosing their answers. Prepare to select a winner.</h6>
  </div>
  <div id='charity-fact-container'>
    <h5 class="btn btn-help">Did you know?</h5>

    <h6 class="font-18 mb-20">
       {{ makeAWishFact }}
    </h6>

    <div id='charity-logo-container'>
      <img src='/img/make-a-wish-logo-white-large.png'/>
    </div>

  </div>
</div>
