</script>
<div id="app-container" ng-controller="GameController">
  <ng-include src="'./views/header.html'"></ng-include>
  <div class="main-bg">
    <div class="main-content">
      <div class="row pt-40">
        <!-- Timer -->
        <div class="col s2">
          <timer></timer>
          <div class="clear"></div>
        </div>
        <!-- Timer -->

        <div class="col s7">
          <!-- questions -->
          <div class="row question-cont">
            <question></question>
            <div class="clear"></div>
          </div>
          <!-- questions -->

          <!-- answers -->
          <div class="row answers-cont">
            <answers></answers>
            <div class="clear"></div>
          </div>
          <!-- answers -->
          <div class="clear"></div>
        </div>

        <!-- players -->
        <div class="col s3">
          <player></player>
          <div class="clear"></div>
        </div>
        <!-- players -->

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
