</script>
<div id="app-container" ng-controller="GameController" ng-init="checkCookie()">
  <ng-include src="'./views/header.html'"></ng-include>
  <div class="main-bg">
    <div class="main-content">
      <div class="row pt-40 eq-height">
        <!-- Timer -->
        <div class="col s12 m2">
          <div class="row">
            <timer></timer>
          </div>
          <div class="row hide-on-small-only">
            <div class="fixed-card" id="card-bg">
              <div class="img-holder">
                <img src="img/cfh-2.png" alt="">
              </div>
              <span>
                Help in our mission to save the world!
              </span>
              <a 
                class="btn waves-effect waves-light orange darken-2 ">
                Donate
                <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>  
              </a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- Timer -->

        <div class="col s12 m7">
          <!-- questions -->
          <div class="row question-cont">
            <question></question>
            <div class="clear"></div>
          </div>
          <!-- questions -->

          <!-- answers -->
          <div class="row answers-cont">
            <answers></answers>
            <div class="clear"></div>
          </div>
          <!-- answers -->
          <div class="clear"></div>
        </div>

        <!-- players -->
        <div class="col s12 m3">
          <player></player>

          <!--Chat begins-->
          <div class="chat">
            <div class="chat-header">
              <p>Join Chat <span class="right"><i class="fa fa-caret-up" aria-hidden="true"></i></span></p>
            </div>
            <div class="chat-body">
              <div class="chat-holder">
                <ul class="messages">
                </ul>
                <div class="clear"></div>
              </div>
              <div class="input-field chat-input">
                <input id="chatMsg" type="text" class="inputMessage" name="chats" placeholder="Type your message and hit enter"/>
                <p id="chat-status">{{chatStatus}}</p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <!--Chat ends-->

          <div class="clear"></div>
        </div>
        <!-- players -->

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<ng-include src="'./views/footer.html'"></ng-include>

