<div ng-controller="IndexController">
    <!-- Header -->
  <div id="main-header" ng-controller="materializeInit">
    <nav role="navigation">
      <div class="nav-wrapper container-fluid">
        <div class="brand-logo">
          <a id="header-logo-container" class="hide" href="#" >
            <img src="/img/cfh-crop.png" alt="">
          </a>
          <a class="btn waves-effect waves-light orange darken-2">donate now</a>
        </div>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>                    
        </ul>

        <!-- Mobile nav -->
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Home</a></li> 
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse right">
          <i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="container">
    <h3>
      Choose an avatar
    </h3>
    <h6>You are just on click away! Select your avatar below</h6>
    <div id="avatars-container" class="container">
      <form action="/users/avatars" method="post">
        <div class="row">
          <div ng-repeat="avatar in avatars" class="ng-scope">
            <p class="col s2">
              <input name="avatars" type="radio" id="{{avatar}}" value="{{$index}}" class="with-gap"/>
              <label for="{{avatar}}">
                <img ng-src="{{avatar}}">
              </label>
            </p>
          </div>
        </div>
        <div class="row center">
          <button id="sign-up-btn" type='submit' class="waves-effect waves-light btn blue lighten-1">Let's Go!</button>
        </div>
      </form>
    </div>
  </div>
</div>