  <!-- Footer  -->
  <footer id="footer" class="page-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Cards for Humanity</h5>
          <p class="grey-text text-lighten-4">&copy; 2017</p>
        </div>
        <div class="col l4 s12">
           <div class="center">
             <img src="/img/cfh.png" alt="">
           </div>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text center">Connect With Us</h5>

          <!-- Social icons -->
          <ul class="social-icons">
            <li class="facebook">
              <a class="white-text" href="#!">
                <i class="fa fa-facebook-f"></i> 
              </a>
            </li>
            <li class="twitter">
              <a class="white-text" href="#!">
                <i class="fa fa-twitter"></i> 
              </a>
            </li>
             <li class="github">
              <a class="white-text" href="#!">
                <i class="fa fa-github"></i> 
              </a>
            </li>
             <li class="instagram">
              <a class="white-text" href="#!">
                <i class="fa fa-instagram"></i> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright center">
      <div class="container-fluid w-100">
        <p>Made by <a class="brown-text text-lighten-3">Gimli Team | Andela, Nigeria</a></p>
      </div>
    </div>
  </footer>