 <!-- Header -->
  <div id="main-header" ng-controller="GameController">
    <nav role="navigation">
      <div class="nav-wrapper container-fluid">
        <div class="brand-logo">
          <a id="header-logo-container" href="#" >
            <img src="/img/cfh-crop.png" alt="">
          </a>
          <a class="btn waves-effect waves-light orange darken-2">donate now</a>
        </div>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#how-to-play">How to Play</a></li>
          <li><a href="#charity">Charity</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#sign-in">SignIn</a></li>   
          <li><a href="#sign-up" class="btn waves-effect waves-light blue lighten-1">
            SignUp</a></li>                      
        </ul>

        <!-- Mobile nav -->
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#how-to-play">How to Play</a></li>
          <li><a href="#charity">Charity</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#sign-in">SignIn</a></li>   
          <li><a href="#sign-up" class="btn waves-effect waves-light blue lighten-1">
            SignUp</a></li>  
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse right">
          <i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>