.dashbody{
    margin-top: 0px;
    width: 100%;
    background: white;

}
.dashboard-nav {
    border: 0px;
    margin: 0px;
    width:100%;
    outline:none;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border-bottom: none;
margin-bottom: 20px;
}
.tab .nav-tabs li{
margin-right: 0px;
}
.tab .nav-tabs li a{
font-size: 16px;
color: #333;
border: none;
border-radius: 0;
position: relative;
overflow: hidden;
background: white;
z-index: 1;
color:#3e7293;
transition: all 0.3s ease 0s;
border: 2px solid #55acee;
}
.tab .nav-tabs li a:hover{
color: #fff;
}
.tab .nav-tabs li a:before{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: -100%;
background: #55acee;
transition: all 0.20s ease 0s;
}
.tab .nav-tabs li a:hover:before{
left: 0;
z-index: -1;
}
.tab .nav-tabs li.active a:before{
background: transparent;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a:focus{
background:#ed7d1a;
color: #fff;
border: none;
}
.tab .nav-tabs li.active {
    background:#ed7d1a;
    border: 3px solid #ed7d1a;
}
.leader-board{
  overflow: auto;
  height: 800px;
  margin-bottom: 50px;
}
.tab-content{
    background: white !important;
}
.dashboard-table {
  background: white;
  border-radius:3px;
  border: 1px solid #C1C3D1;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 850px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  overflow: 50px;
}

th {
  color : white;
  background:#2196F3;
  border-bottom:23px #2196F3;
  border-right: 1px solid #2196F3;
  font-size:17px;
  font-weight: 100;
  padding:24px;
  text-align:le;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 2px solid #C1C3D1;
  border-bottom: 2px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-align: center;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.no-data{
  width: 80%;
  height: 300px;
  background:  #3e7293;
  margin: auto;
  color:white;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}
.no-data-text {
  margin-top: 30px;
}
.game-table{
  height: 20px;
  margin-top: 15px;
}
.players{
  padding:0px;
  margin: 0px;
}
