/**Cards for Humanity Stylesheet
* Made by Gimli Team
*/
/*@import url('https://fonts.googleapis.com/css?family=Droid+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Abel');

body{
  font-family: 'Slabo 27px', serif;
}
p {
  line-height: 2rem;
}
h1, h2, h3, h4, h6 {
  font-family: 'Abel';
}

/* Helper classes */
.container-fluid{
  padding-left: 25px;
  padding-right: 25px;
}
.w-100 {
  width: 100%;
}

#page{
  height: 100vh;
}

/* Banner */
#index-banner{
  height: 91.5vh;
  background: linear-gradient(
    rgba(20,20,20, .5),
    rgba(20,20,20, .5))
}
#index-banner .brand-logo{
  margin-left: -35px;
}
#index-banner h1{
  margin-top: 12rem;
}

/* Header */
nav ul a,
nav .brand-logo {
  color: #fff;
}
nav a#header-logo-container{
  margin-right: 25px;
  margin-left: 13px;
}
nav .brand-logo a.btn{
  margin-left: 15px;
}

nav .brand-logo img{
  height: 55px;
  margin-bottom: -20px;
}
.button-collapse {
  color: #26a69a;
}
#main-header .nav-wrapper, #timer-header, .players-count{
  background: rgb(37, 50, 69);
  color: #fff;
}
#main-header > nav .nav-wrapper i{
  line-height: 34px;
}
.fix-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

/* Parallax */
.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

/* How-to-play steps */
.step{
  position: relative;
  padding: 0rem 5rem 1.5rem 0rem;
  border-right: 2px solid #ef6c00;
}
.step:last-child{
  padding-bottom: 0;
}
.step a{
  position: absolute;
  right: -0.45em;
  top: 0;
  font-size: 24px;
  color: #ef6c00;
  z-index: 100;
  background: #fff;
}

/* Signin */
#sign-in ul li,
#sign-up ul li{
  display: inline-block;
  margin-right: 1rem;
}
#sign-in ul li:last-child,
#sign-up ul li:last-child{
  margin-right: 0;
}

/* Form */
/* label color */
.input-field input{
  border-bottom: 1px solid #fb8c00;
}
.input-field i{
  color: #90a4ae;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
  color: #ef6c00;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus  {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ef6c00;
}

/* Social icons */
ul.social-icons{
  padding: 0em 2em 2em 2em;
  text-align: center;
}
ul.social-icons li{
  display: inline-block;
  margin-left: 1rem;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 2.2rem;
  border-radius: 100%;
}
ul.social-icons li:last-child{
  margin-right: 0;
}
.facebook, .social-icons .facebook,
#sign-in .facebook,
#sign-up .facebook, .facebook:hover{
  background: #3b5998;
}
.twitter, .social-icons .twitter,
#sign-in .twitter,
#sign-up .twitter, .twitter:hover{
  background: #55acee;
}
.instagram, .social-icons .instagram,
.instagram:hover{
  background: #125688;
}
.github, .github:hover,
.social-icons .github,
#sign-in .github,
#sign-up .github{
  background: #000000;
}
.googleplus, .googleplus:hover,
.social-icons .googleplus,
#sign-in .googleplus,
#sign-up .googleplus{
  background:  #dd4b39;
}

/* Footer */
#footer{
  font-family: 'Slabo 27px';
  background: rgb(37, 50, 69);  
}

#footer .page-footer {
  margin: 0px !important;
  background: rgb(37, 50, 69);  
}
#footer .page-footer .footer-copyright{
  background: #1c2634;
  text-align: center !important;
}

footer p{
   line-height: 1rem;
   color: #fff;
   font-size: 14px;
}

footer h5{
  font-size: 18px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner{
    height: 92.5vh;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
   /*.row {
      margin: 0 0 0 4px;
   }
 }*/

 .clear {
   clear: both;
 }

#modal1, #modal2, .modal-4, .modal-5 {
  color: black;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.modal-content {
  padding: 10px 0 0 0 !important;
}

#modal-body {
  height: 350px !important;
  overflow: scroll;
}


.font-big {
  font-size: 30px;
}

.main-bg {
  background-image: url('../img/main.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.main-content {
  min-height: 92vh;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Game */
/* Timer */
#inner-timer-container{
  border: 1px solid rgb(37, 50, 69);  
  background-color: #fff;  
}
#inner-timer-container .container{
  text-align: center;
}
#inner-timer-container #time{
  font-size: 100px;
}
#timer-header h3{
  font-size: 16px;
}
#timer-header .icon{
  text-align: center;
  padding-bottom: 5px;
}
#timer-header .material-icons{
  margin-top: 15px;
}
/*.timer-body {
  background-color: #fff;
}*/

.pt-40 {
  padding-top: 40px;
}

.clear {
  clear: both;
}

#players{
  height: 80vh;
  overflow: scroll;
  position: relative;
}

.player-cont { 
  border-radius: 5px;
  margin-bottom: 10px;
}

.player-cont img{
  height: 50px;
  width: 50px;
}
.player-cont span{
  display: block;
}
.player-cont #player-info span:nth-child(2){
  font-size: 20px;
}

.players-count {
  height: 50px;
  margin-bottom: 10px;
}

.players-count h5 {
  line-height: 50px;
  margin: 0;
}
.h-135 {
  height: 135px;
}

.p-0 {
  padding: 0px !important;
}

.p-10 {
  padding: 10px;
}

.mb-0 {
  margin-bottom: 0;
}
.pb-0 {
  padding-bottom: 0;
}

.mt-0 {
  margin-top: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}
.mb-20 {
  margin-bottom: 20px;
}

/* questions */
.question-cont, .answers-cont{
  background-color: rgba(37, 50, 69, 0.8);
  color: white;
  padding: 10px;
}

.question-cont {
  min-height: 248px;
}

#questions {
  font-size: 30px;
}

.col20 {
  width: 20%;
  box-sizing: border-box;
  float: left;
}

#game-end-info {
  font-size: 24px;
}
/*#startGame {
  padding: 20px;
}*/

.cfh-card {
  background-image: url('/img/card-2.jpg');
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  height: 190px;
  color: black;
  margin-bottom: 10px;
  text-align: center !important;
  font-size: 18px;
  font-weight: bold;
}

.p-5 {
  padding: 5px;
}

.fixed-card {
    bottom: 20px;
    position: fixed;
    padding: 10px;
    background-color: rgba(37, 50, 69, 0.9);
    z-index: 1;
    height: 200px;
    max-width: 150px;
    width: 150px;
    border: thin solid #fb8c00;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.fixed-card .img-holder {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
}

.fixed-card .img-holder img {
  height: 60px;
  width: 60px;
}

.fixed-card span {
  margin-top: 10px;
}

.waiting {
  padding: 20px;
  text-align: center;
}

.waiting img {
  height: 200px;
  width: 300px;
}

#share-link {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

/*Chat box*/

.chat {
  bottom: 20px;
  height: auto !important;
  max-width: 300px;
  width: 300px;
  position: fixed;
  background-color: #fff;
  border: thin solid #fb8c00;
}

.chat-header {
  padding: 10px;
  background-color: #fb8c00;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.chat-body {
  display: none;
}

.right {
  float: right;
}

.chat-holder {
  padding: 10px;
}

.chat-holder ul {
  display: inline-table;
  width: 100%;
}

.chat-holder ul li {
  display: block;
  list-style: none;
  padding: 5px 0px 0px 5px;
  margin-bottom: 5px;
  width: 100%;
}

.chat-holder ul li:nth-child(even) {
  background-color: #fb8c00;
}

.chat-input {
  padding: 5px;
}
.chat-input input {
  height: 40px;
  border: 2px solid rgb(37, 50, 69);
  margin: 0px;
  border-radius: 3px;
  padding: 0px 5px;
}

#app-container {
  margin: 0px !important;
}

#crDonateWidget_cfhio_cards4humanity {
  margin: 0 auto !important;
}

.btn-new {
  cursor: default;
}

.btn-help {
  cursor: help;
  background-color: #fb8c00;
  color: white;
}

.font-18 {
  font-size: 18px;
}

.orange {
  color: #fb8c00;
}