/**Cards for Humanity Stylesheet
* Made by Gimli Team 
*/
/*@import url('https://fonts.googleapis.com/css?family=Droid+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Abel');

body{
  font-family: 'Slabo 27px', serif;
}
p {
  line-height: 2rem;
}
h1, h2, h3, h4, h6 {
  font-family: 'Abel';
}

/* Helper classes */
.container-fluid{
  padding-left: 25px;
  padding-right: 25px;
}
.w-100 {
  width: 100%;
}

#page{
  height: 100vh;
}

/* Banner */
#index-banner{
  height: 91.5vh;
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5))
}
#index-banner .brand-logo{
  margin-left: -35px;
}
#index-banner h1{
  margin-top: 12rem;
}

/* Header */
nav ul a,
nav .brand-logo {
  color: #fff;
}
nav a#header-logo-container{
  margin-right: 25px;
  margin-left: 13px;  
}
nav .brand-logo a.btn{
  margin-left: 15px;
}

nav .brand-logo img{
  height: 55px;
  margin-bottom: -20px;
}
.button-collapse {
  color: #26a69a;
}
#main-header .nav-wrapper{
  background: rgb(37, 50, 69);
  color: #fff;
}
.fix-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

/* Parallax */
.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

/* How-to-play steps */
.step{
  position: relative;
  padding: 0rem 5rem 1.5rem 0rem;
  border-right: 2px solid #ef6c00;
}
.step:last-child{
  padding-bottom: 0;
}
.step a{
  position: absolute;
  right: -0.45em;
  top: 0;
  font-size: 24px;
  color: #ef6c00;
  z-index: 100;
  background: #fff;
}

/* Signin */
#sign-in ul li,
#sign-up ul li{
  display: inline-block;
  margin-right: 1rem;
}
#sign-in ul li:last-child,
#sign-up ul li:last-child{
  margin-right: 0;
}

/* Form */
/* label color */
.input-field input{
  border-bottom: 1px solid #fb8c00;
}
.input-field i{
  color: #90a4ae;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
  color: #ef6c00;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus  {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ef6c00;
  box-shadow: 0 1px 0 0 #ef6c00;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ef6c00;
}

/* Social icons */
ul.social-icons{
  padding: 0em 2em 2em 2em;
  text-align: center;
}
ul.social-icons li{
  display: inline-block;
  margin-left: 1rem;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 2.2rem;
  border-radius: 100%;
}
ul.social-icons li:last-child{
  margin-right: 0;
}
.social-icons .facebook, 
#sign-in .facebook,
#sign-up .facebook{
  background: #3b5998;
}
.social-icons .twitter, 
#sign-in .twitter,
#sign-up .twitter{
  background: #55acee;
}
.social-icons .instagram{
  background: #125688;
}
.social-icons .github, 
#sign-in .github,
#sign-up .github{
  background: #000000;
}
.social-icons .googleplus, 
#sign-in .googleplus,
#sign-up .googleplus{
  background:  #dd4b39;
}

/* Footer */
#footer{
  font-family: 'Slabo 27px';
}
.page-footer{
  background: rgb(37, 50, 69);
}
#footer.page-footer {
  margin: 0;
}
#footer.page-footer .footer-copyright{
  background: #1c2634;
  text-align: center !important;
}

footer p{
   line-height: 1rem;
   color: #fff;
   font-size: 14px;
}

footer h5{
  font-size: 18px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner{
    height: 92.5vh;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}